In [16]:
set_ = {}
if set_:
    print("set exists")
else:
    print("set not exists")

set_ not exists

In [17]:
set_ = {0, 1, "s"}

In [18]:
"s" in set_

True

In [19]:
if 0 in set_:
    set_.remove(0)
set_

{1, 's'}

In [20]:
set_.add(999)
set_

{1, 999, 's'}

In [21]:
len(set_)

3

#### Set operations

In [37]:
s1 = set(range(10))
s2 = set(range(7, 15))

In [39]:
s1.intersection(s2)

{7, 8, 9}

In [40]:
s1.union(s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [43]:
s2.difference(s1)

{10, 11, 12, 13, 14}

In [44]:
s1.difference(s2)

{0, 1, 2, 3, 4, 5, 6}

In [45]:
# complement of intersection
s1.symmetric_difference(s2)

{0, 1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14}

In [41]:
s3 = set(range(3))
s3.issubset(s1)

True

In [42]:
s1.issuperset(s3)

True